body {
    background: black;
}

* {
    font-family: Helvetica;
    color: white;
}

.center {
    width: 50%;
    margin: auto;
    text-align: center;
}

img {
    border: 1px solid;
}

ol {
    font-size: 0.8em;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.gallery_img {
    width: 75%;
    height: 75%;
    object-position: center;
    object-fit: cover;
}

footer {
    text-align: center;
    font-size: 10px;
    color: grey;
}

.referencias {
font-size: 14px;
font-family: Arial;
font-style: italic;
}